# dependencies
node_modules/

# builds
/dist/
/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# OS
.DS_Store

# editor
.vscode/
.idea/

# misc
ideas.md
test.json